<h1>Tracks</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
A track is a routing that sends events from a {{ doc('api_clips','Clip') }} associated with that track to the {{ doc('api_instruments','Instrument') }}
or <i>Instruments</i> assigned to that track.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Track") }}

{{ begin_code(language='python') }}
api.tracks.add(name='lead', instrument='lead_inst', muted=False)
{{ end_code() }}

<p>
An track has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
  <td>name</td>
  <td>string</td>
  <td>a name to identify this object</td>
</tr>
<tr>
  <td>instrument</td>
  <td>string</td>
  <td>the name of an {{ doc('api_instruments','Instrument') }} previously created</td>
</tr>
<tr>
  <td>instruments</td>
  <td>list of strings</td>
  <td>as an alternative to <i>instrument</i>, supply a list of instrument names and notes coming into this track will be sent to
  multiple instruments.
</tr>
<tr>
   <td>instrument_mode</td>
   <td>string</td>
   <td>selects what instruments are selected for what notes if multiple instruments are assigned to this track instead of one</td>
</tr>
<tr>
  <td>muted</td>
  <td>bool</td>
  <td>if <i>true</i>, notes sent to this track will not sound. MIDI CC messages will still transmit.</td>
</tr>
</table>

<!--------------------------------------------------------------------------------------------------------------------->


<hr/>
{{ section("Instrument Modes") }}

<p>
Valid values for <i>instrument_mode</i> are:
</p>

<table border=1 cellpadding="10px">

<tr>
<td>all_instruments</td>
<td>the default setting. This sends every note to every instrument configured on the track.</td>
</tr>

<tr>
<td>rotate</td>
<td>selects a hocketing style behavior. Each note that should be played - including those as part of chords - are sent to the next instrument
in rotation. This is to say chords will be split up between multiple instruments, but still played concurrently.</td>
</tr>

<tr>
<td>spread</td>
<td>each note in a chord is played using one of the instruments in the list, with the root note always being played by the first
instrument, the next note by the second instrument, and so on.</td>
</tr>

<tr>
<td>rotate_chords</td>
<td>similar to <i>rotate</i> every note or chord will be played by the next instrument in the list, in rotation.  Unlike <i>rotate</i> chords
will be played all together by one instrument, rather than spread out between instruments. This mode is intended
for use with polyphonic synths only.</td>
</tr>
</table>

<p></p>

{{ begin_info_block() }}
If using <i>spread</i>, <i>rotate</i>, and <i>rotate_chords</i>, if a chord sent to be played has more notes than the number of instruments in
the list, one instrument may recieve multiple notes to play.  This is sometimes desirable behavior, but sometimes not. If this is undesired,
either play smaller chords, do not play chords, or add more instruments to the list.
{{ end_info_block() }}

<p></p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>Using multiple <i>instruments</i> can be a great way to create some amazing unison monosyth lines using
multiple hardware or software synthesizers. If combining multiple monosynths, see if you can beat the guiness world record for phatness.
With polysynths, try mixing a long pad sound with a quick stab or hit for increased sonic variety. This can even work with
a mixture of software and hardware at the same time. If using monosynths, the <i>rotate</i> setting for <i>instrument_mode</i> can also be a lot of fun.
</li>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

See {{ doc('api_scales','Scales') }}

