<h1>Patterns</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>About</h2>

<p>
Patterns hold series of notes (or expressions) in the form of {{ doc('api_slots', 'Slots') }}, which are played by {{ doc('api_clips','Clips') }}.
Patterns can move in a forward redirection either infinitely or a set number of times, or also move in other directions.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Creating A Pattern") }}

<i>To better explain Patterns, we'll briefly show some basic {{ doc('api_slots','Slots') }}, though they are
explained further in the next chapter</i>

<p>
A basic pattern
</p>

{{ begin_code(language='python') }}
api.patterns.add(name='basic', slots=[
    Slot(degree=1),
    Slot(degree=2),
    Slot(degree=3),
    Slot(degree=4),
    Slot(degree=5),
    Slot(degree=6),
    Slot(degree=7),
])
{{ end_code() }}

<p>
The above pattern plays the current scale, assuming a seven-note scale.  Once again, there is infinitely more
involved with {{ doc('api_slots','Slots') }} and that's the next chapter.
</p>

<p>
A pattern has the following properties:
</p>

<table border=1 cellpadding="10px">
<tr>
  <td>Property</td>
  <td>Type</td>
  <td>Description</td>
</tr>
<tr>
   <td>name</td>
   <td>string</td>
   <td>A symbolic name for the pattern, as referenced from a {{ doc('api_clips','Clip') }} or {{ doc('api_evaluators','Track Grab') }}</td>
</tr>
<tr>
  <td>octave_shift</td>
  <td>integer</td>
  <td>Adds or subtracts from the octave of all notes played in the pattern</td>
</tr>
<tr>
  <td>scale</td>
  <td>string</td>
  <td>the name of a pre-defined {{ doc('api_scales','Scale') }}, used when evalating scale degree math in {{ doc('api_slots','Slots') }}</td>
</tr>
<tr>
  <td>rate</td>
  <td>float</td>
  <td>the default tempo of the {{ doc('api_song','Song') }} is multiplied by this value to get the effective tempo. With rate of 1, the notes in the {{ doc('api_slots','Slots') }}
  can be considered 1/16th notes. If the rate is 0.5, 1/8th notes.  If the rate is 2, they are 32nd notes.  It is also possible to set rate multipliers on the {{ doc('api_scenes', 'Scene') }}
  and {{ doc('api_clips','Clip') }}.  This value does not need to be a clean fraction.</td>
<tr>
  <td>direction</td>
  <td>string</td>
  <td>The name of the direction the pattern should run in. The default is 'forward'. Acceptable values are listed below.
  <i>scale_type</i>.</td>
</tr>
<tr>
  <td>length</td>
  <td>int</td>
  <td>while not required, if set to a value less than the number of slots, only the first <i>N</i> slots will be used in the pattern. If longer, the pattern will loop around and play extra slots
  from the beginning.</td>
</table>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Pattern Directions") }}

Valid values for <i>direction</i> are:

<table border=1 cellpadding="10px">

<tr>
<td>forward</td>
<td>the pattern runs in a left to right direction</td>
</tr>

<tr>
<td>reverse</td>
<td>the pattern runs in a right to left direction</td>
</tr>

<tr>
<td>oscillate</td>
<td>the slots move left to right, then right to left</td>
</tr>

<tr>
<td>pendulum</td>
<td>similar to 'oscillate', except the end notes are not repeated</td>
</tr>

<tr>
<td>random</td>
<td>a random value is chosen from the slots list each time</td>
</tr>

<tr>
<td>serialized</td>
<td>the pattern is shuffled, and then each slot is played in turn. When all slots are played, the slots are shuffled
again</td>
</tr>

<tr>
<td>brownian1</td>
<td>a slot is chosen, and then the next slot to play will randomly be to the left or right.  If a slot is chosen
at the either end of the list, it will wrap around</td>
</tr>

<tr>
<td>brownian2</td>
<td>a slot is chosen, and the next slot will either be the same slot, or the one to the left or right</td>
</tr>

<tr>
<td>brownian3</td>
<td>same as <i>brownian1</i> without the wrap-around behavior</td>
</tr>

<tr>
<td>brownian4</td>
<td>same as <i>brownian2</i> without the wrap-around behavior</td>
</tr>

<tr>
<td>brownian5</td>
<td>same as <i>brownian1</i> but the wrap around only happens on the right side</td>
</tr>

<tr>
<td>brownian6</td>
<td>same as <i>brownian2</i> but the wrap around only happens on the right side</td>
</tr>

<tr>
<td>build</td>
<td>the pattern plays left to right, but when the very last Slot is reached, that Slot value will repeat infintely.
This is especially intended for use with {{ doc('api_data_pools','Data Patterns') }}</td>
</tr>
</table>

<p></p>

<p>
This list will grow over time.  {{ doc('contributing','Contributions') }} and ideas for new directions or random
distribution options would be welcome.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ section("Suggestions & Tips") }}

<ul>
<li>want quarter notes? setting the rate to 0.25 and inputting 4 notes is easier than inputting in 4 notes and 12 ties</li>
</ul>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("In Context") }}

Reading the following API examples is recommended for understanding this section:

<ul>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/00_kick_snare.py">Kick/Snare</A>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/01_scales.py">Scales</A>
<li><A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/02_chords.py">Transform Directions</A>
</ul>


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

Now for the extra fun stuff. Time for {{ doc('api_slots','Slots') }}!