<h1>Event Loop</h1>

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
<h2>The Event Loop</h2>

<p>
So now you have a song? Time to hit play. As you would in a Python program, anyway!
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
{{ table_of_contents() }}

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Invocation") }}

It's so easy. Just name the scene you want to start from.

{{ begin_code(language='python') }}
api.player.loop('scene_1')
{{ end_code() }}

If you want the program to start back over from the very first scene when done, you can do that:

{{ begin_code(language='python') }}
api.player.loop('scene_1', infinite=True)
{{ end_code() }}

Finally, if you do NOT want the program to exit on Ctrl+C, you need to do the following.

{{ begin_code(language='python') }}
api.player.loop('scene_1', abort=False)
{{ end_code() }}

The system will automatically silence any playing notes when you hit Ctrl+C, regardless of the setting.

<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Callbacks") }}

If embedding Warp in another sequencer UI or hardware project, you will want some way to know what Warp is doing. You can do this
by implementing callbacks. These are shown in
<A HREF="https://bitbucket.org/laserllama/warpseq/src/master/examples/api/18_user_callbacks.py">this API example</A>.

{{ begin_info_block() }}
If you do not override the callbacks, you'll get some generally helpful print statements, but Warp will otherwise not be telling
your program anything.
{{ end_info_block() }}


<!--------------------------------------------------------------------------------------------------------------------->
<hr/>
{{ section("Next Up") }}

<p>
That's the key stuff.  You can write songs now.
</p>

<p>
If you skipped See {{ doc('api_song','Transforms') }} you should go back and read that section, as transforms can be used
to build powerful MIDI effects and arpeggiators. Also read about  {{ doc('api_evaluators','Evaluators') }} and
{{ doc('api_data_pools','Data Pools') }} to learn some of the remaining power tricks.
</p>
