<h1>Contributing</h1>
<hr/>

<p>
Warp is provided to you under an Apache2 open source license, (C) Michael DeHaan.
</p>

<p>
The primary purpose of making Warp free is so everyone can enjoy it.
</p>

<p>
If you would like to add something beyond a simple bug fix, we should first discuss what features you would like to add. The very best way to do this is to join {{ doc('club','Warp Club') }} so you can get
access to the Discord chat, but you can also <A HREF="mailto:michael@michaeldehaan.net">Michael</A>. Communication helps avoid duplicate efforts and to assure compatible goals.
Then, when ready, submit a pull request to <A HREF="https://bitbucket.org/laserllama/warpseq/src/master/">our repo</A>.  We are very interested in code review and maintainability,
so this is why up front discussion of where to implement a feature may save some extra effort.
</p>

<p>
Contributors should probably also follow <A HREF="http://twitter.com/warpseq">@warpseq</A> on twitter for updates, unless you are already a member of the Patreon and are getting development updates from there.
</p>

<p>
We have one very important rule: Any additions must take care to not break song files of existing users. Listen to your song file tests, think about all the error paths,
be paranoid about error handling (the app isn't allowed to crash), and test it thoroughly before submitting any additions or changes.
</p>

<p>
Thank you for interest in this project and we look forward to working and talking with you!
</p>

