<h1>Installation</h1>
<hr/>

<p>
Thank you for interest in trying out Warp!
</p>

<p>
Warp's user interface is a local web application typically accessed on port 8000. To use it, you must first install and start a local web server process ('warp').
</p>

<p>
There is also a Python API that may be interesting to audiences interested in algorithmic composition. In the near future, OS-specific packaging may be available.
For now, we will assume some command line skills to install it and get it running.
</p>

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
<h2>Requirements</h2>

<p>
Warp should work on most any computer. First install <i>python3</i> and <i>git</i> if you do not already have them.  On a Mac, you can install these through <A HREF="https://brew.sh/">homebrew</A>
from the Terminal:
</p>

{{ begin_code(language='bash') }}brew install python3
brew install git
{{ end_code() }}

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
<h2>Checkout The Source Code</h2>

<p>
We can install warp via 'pip' (the python packaging tool), but it will be easier if we check it out from source, as that will allow access
to the numerous examples that come with Warp.
</p>

<p>
Clone the project into any directory you like:
</p>

{{ begin_code(language='bash') }}cd wherever
git clone https://laserllama@bitbucket.org/laserllama/warpseq.git
{{ end_code() }}

<p>
Install Warp instead from pip:
</p>

{{ begin_code(language='bash') }}pip3 install warpseq --upgrade
{{ end_code() }}

{{ begin_info_block() }}
If the pip install fails on a Mac, you may need to install or update XCode developer tools to build a MIDI library we use. Run: "xcode-select --install" and
then retry the command.
{{ end_info_block() }}

<hr/>
<h2>Creating a Virtual MIDI Bus</h2>

<p>
If you want to use Warp with software synthesizers, you will need to create a Virtual Bus in your operating system if you do not already have one.
Ableton has already written some great documentation on creating one:
</p>

<p>
<A HREF="https://help.ableton.com/hc/en-us/articles/209774225-How-to-setup-a-virtual-MIDI-bus">How To Setup A Virtual MIDI Bus [Ableton.com]</A>.
</p>

<p>
You can skip step 5 in the above document if you are not using Ableton. Further, if you want to just talk to hardware MIDI instruments (and not soft synths), and don't need to route MIDI
through your DAW, you can also choose to not set up a virtual bus.
</p>

{{ begin_warn_block() }}
When writing your tracks, unless you feel the need to record MIDI notes vs audio, you should possibly consider not routing MIDI through the IAC bus
into your hardware synthesizers. You will have better performance talking to your MIDI interface hardware directly.
{{ end_warn_block() }}

<!--------------------------------------------------------------------------------------------------------------------->

<hr/>
<h2>Ready?</h2>

<p>
To learn how to run the web interface, see {{ doc('ui') }}.  Alternatively, see the {{ doc('api', 'API Documentation') }}.
</p>

{{ begin_info_block() }}
If you get stuck or have a question, we're always wanting to refine our
documentation, so please <A HREF="mailto:michael@michaeldehaan.net">Email Michael</A>.  We'd be glad to hear from you!
{{ end_info_block() }}

